@import "../css/reset.css";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import'https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap';

:root {
    --very-light-gray: hsl(0, 0%, 98%);
    --dark-gray: hsl(0, 0%, 52%);
    --white: hsl(0, 0%, 100%);
    --very-light-blue: hsl(200, 15%, 8%);

}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    background: lightblue;

}

.container {
    width: 1440px;
    /* background: red; */
}

/* header section start */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px -1px rgba(133, 133, 133, 0.66);
    -moz-box-shadow: 0px 8px 9px -1px rgba(133, 133, 133, 0.66);
    box-shadow: 0px 8px 9px -1px rgba(133, 133, 133, 0.66);
    background: var(--white);
    /* border: none; */
    /* border-bottom: 1px solid rgba(133,133,133,0.66); */
}

header h1 {
    font-size: 25px;
    font-weight: 800;

}

header p {
    font-weight: 600;
}

/* header section end */

/* main section start */
.main-section {
    background: var(--very-light-gray);
    padding: 30px;
    
}

.options-section {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
   
}

.search {
    position: relative;
}

.search .fas {
    color: var(--dark-gray);
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

.search input[type="text"] {
    width: 400px;
    font-size: 14px;
    padding: 10px 35px;
    border: none;
    -webkit-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    -moz-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
}

.search input[type="text"]:focus {
    outline: none;
}

.search input[type="text"]::placeholder {
    color: var(--dark-gray);
}

#filter .filter-box {
    background: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    -moz-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    border-radius: 3px;
  
}
#filter .filter-box span {
   margin-right: 10px;
   font-weight: 600;
}

#filter .filter-list {
    /* display: none; */
   padding: 10px;
    background: #FFFFFF;
    -webkit-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    -moz-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    border-radius: 3px;
    font-weight: 600;
   
    
}

#filter .filter-list li {
   margin-bottom: 10px;
   
}

.countries{
   display: flex;
   /* justify-content: space-between; */
   flex-wrap: wrap;
  
   
 
}

.countries .box{
    border: 1px solid  lightblue;
    width: 20%;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 50px;
    z-index: 0;
    -webkit-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    -moz-box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
    box-shadow: -1px 0px 9px -1px rgba(133, 133, 133, 0.66);
}


.countries .box .img-box img{
    width: 100%;
    height: 150px;
    border-radius: 5px; 
  
}

.countries .country-info {
    padding: 15px;

  
}

.countries .country-info h1 {
   margin-bottom: 10px;
   /* font-size: 20px; */
   font-weight: 800;

    
  
}
.countries .country-info p {
   margin-bottom: 10px;
   font-size:14px;
   font-weight: 600;
    
  
}

footer{
    background:  var(--very-light-blue);
    text-align: center;
    padding: 30px;
    color: var(--white);
}